{{> head }}
    {{> navbar }}

    <div class="row m-4">
        <div class="col-8">
            <h1>New Old Mario Bros</h1>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis eum vel officia ducimus sequi ullam. 
                Vel perspiciatis, eius qui molestias quisquam ea. Eum, error repudiandae non officiis incidunt velit quo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus vitae cum quae enim illo aspernatur saepe, tempore rerum quis, assumenda cumque magni rem ut omnis at. Recusandae, distinctio aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam accusamus omnis reprehenderit, voluptatibus necessitatibus adipisci unde voluptatem veniam eaque earum incidunt officia ducimus nobis quaerat quo inventore doloremque. Odio!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/mario_80s.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}