{{> head }}

    {{> navbar }}

    <div class="bg-light p-5">
        <h1 class="display-4">Welcome {{ capitalize name }}!</h1>
        <p class="lead">This is Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qu blanditiis quibusdam quod fugit illo modi, non perferendis minus! Rem </p>
        <hr class="my-4">
        <p>It uses your bored mother to suck our cocks</p>
        <p class="lead">
            <a href="#" role="button" class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
    
{{> footer }}